@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 1s all;
}
section {
    padding: 1rem;
}
body {
    background: #fff;
    font-family: "Raleway", sans-serif;
}
.heading {
    text-align: center;
}

/* Header styles starts */
.header .content .perfil {
    display: flex;
    justify-content: space-between;
}
.header .content .perfil .name p {
    margin-bottom: 5px;
    color: #706f6f;
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
}
.header .content .perfil .name h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.header .content .perfil .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .content .perfil .icon i {
    font-size: 1.5rem;
 }
.header .search {
    background-color: #f1f1f1;
    border: 1px solid #a1a1a1;
    margin-top: 1.5rem;
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}
.header .search i {
    font-size: 1.5rem;
    margin-right: .8rem;
    color: #747474;
}
.header .search input {
    width: 95%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}
.header .search input::placeholder {
    color: #747474;
}
.header .search input:focus,
.header .search input:active {
    border: none;
    outline: none;
    box-shadow: none;
}
/* Header styles end */

/* Menu styles starts */
.menu {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: #000 2px 2px 20px;
    display: flex;
    justify-content: space-between;
}
.menu i {
    font-size: 1.2rem;
    color: #ccc;
}
.menu i.active {
    color: #f25b05;
}

/* Categories styles starts */
.categories {
    margin-top: 1rem;
}
.categories .content {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}
.categories .content::-webkit-scrollbar {
    display: none;
}
.categories .content .item {
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #afafaf;
    background-color: #f25b05;
}
.categories .content .item span {
    font-size: 1rem;
    color: #fff;
}


/* Esconde os conteúdos, exceto o padrão */
.hidden {
    display: none;
  }

  .item {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  /* ... */
/* Categories styles ends */
.products {
    padding: 1rem 0;
}
.products .default-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.8rem
}
.products #bomba-content,
.products #pastel-content,
.products #coxinha-content,
.products #pizza-content, 
.products #bebidas-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.8rem
}

.products .product-container .content {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.products .product-container .product-img {
    background: #ccc;
    width: 90%;
    height: 6rem;
}
.products .product-container .product-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    margin-top: 10px;
}
.products .product-container .product-desc .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products .product-container .product-desc .price i {
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 50%;
    background-color: #f25b05;
}

/*//////////// STYLES PARA SECTION PERFIL /////////////*/
.profile-picture-container .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.profile-picture-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
}
.profile-picture-container .profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 1px solid #ddd;
}
.profile-picture-container input[type="file"] {
    display: none;
}
.profile-picture-container .profile-name {
    font-size: 2rem;
}
.profile-picture-container .btn {
    text-align: center;

}
.profile-picture-container .profile-btn {
    padding: .5rem .8rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #f25b05;
    border: none;
}